@import url("https://fonts.googleapis.com/css?family=Montserrat:400|Roboto:400,500");
@font-face {
    font-family: "Arial-Bold";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/FontsFree-Net-arial-bold.ttf") format("truetype");
}

@font-face {
    font-family: "Arial-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/arial.otf") format("opentype");
}

html,
body,
.content-section,
footer {
    margin: 0;
    padding: 0;
}

.page {
    min-height: 100vh;
    width: 100%;
    background-attachment: fixed !important;
    background-size: auto 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    transition: .5s;
    isolation: isolate;
}

.page header,
.page-dashboard {
    min-height: 15vh;
    background: var(--white);
}

.page header {
    background-color: transparent;
    background: linear-gradient(to bottom, rgba(255, 255, 255, .8), rgba(255, 255, 255, .8));
}

header .header-center {
    flex-grow: 1;
}

header .left-logo-sec-left img {
    height: 12vh !important;
    width: auto !important;
}

header .left-logo-sec-right img {
    height: 12vh !important;
    width: auto !important;
}

.reflector {
    transform: rotateY(-180deg);
}

#header-navbar {
    border-bottom: thin solid var(--denim);
}

#header-navbar .nav-item .nav-link {
    color: var(--denim);
}

.navbar-header {
    display: none;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    border-color: transparent;
    outline: none;
    box-shadow: none;
}

.content-section {
    border: thin solid red;
}

.page footer,
.page-dashboard footer {
    text-align: center;
    background-color: var(--yellow-sunshine);
    padding: .3rem;
    color: var(--denim);
}

.cursor-pointer {
    cursor: pointer;
}

.footer .container {
    letter-spacing: 0;
    line-height: 10px;
    white-space: nowrap;
}

#navbar-section {
    background-color: var(--denim);
    padding: 0.5px 0;
    color: var(--white);
    box-shadow: 0 .15rem 0 var(--yellow-sunshine), 0 -.15rem 0 var(--yellow-sunshine);
}

.overlap-chat {
    position: fixed;
    z-index: 5;
}

.overlap-chat .welcome-sec {
    background-color: var(--yellow-sunshine);
    border-radius: 15px;
    padding: .1rem 1rem .2rem 1rem;
    margin-bottom: 5px;
}

.chat-bot-image {
    width: 5.5rem;
}

img.double-logo {
    display: initial;
}

img.single-logo {
    display: none;
}

#ura-nav {
    border: thin solid transparent;
}

#content-section-1 {
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, .7), rgba(255, 255, 255, .7));
}


/* --- Carousel --- */

#page-slider {
    height: 100%;
}

#page-slider .caro-item {
    height: 100vh;
    display: flex;
    align-items: flex-end;
    border: thin solid var(--denim);
    background-size: auto 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}

.owl-dots {
    position: absolute;
    width: 20%;
    margin-left: 40%;
    z-index: 1;
    border: thin solid green;
    background-color: transparent;
    bottom: 1rem;
    text-align: center;
}

.owl-carousel button.owl-dot {
    border: 2.5px solid #fff;
    padding: .5em !important;
    border-radius: 50%;
    margin-left: .5em;
    margin-right: .5em;
}

.owl-carousel button.owl-dot.active {
    background-color: var(--yellow-sunshine);
}


/* --- / End carousel --- */

#content-section-2 {
    margin-top: 100vh;
}


/* --- Media queries --- */

@media screen and (max-width: 900px) {
    header .header-center,
    .desktop-display {
        display: none !important;
    }
    .navbar-header {
        display: initial;
    }
    #header-navbar {
        display: none;
    }
    header .left-logo-sec-left,
    header .left-logo-sec-left {
        justify-content: flex-start !important;
    }
    /* --- homepage carousel --- */
    #content-section-1 {
        position: initial;
        height: 50vh;
    }
    #page-slider .caro-item {
        height: 50vh;
    }
    .owl-dots {
        width: 50%;
        margin-left: 25%;
    }
    /* --- / homepage carousel --- */
    img.double-logo {
        display: none;
    }
    img.single-logo {
        display: initial;
    }
    .page footer {
        padding: .3rem;
    }
}