:root {
    --congress-blue: #004497;
    --denim: #1c56a3;
    --denim-1: #4f88c3;
    --denim-2: #80d2e9;
    --mist-gray: #c4c4c4;
    --red: #ff0000;
    --ship-gray: #3b3c3e;
    --tart-orange: #f74a4d;
    --white: #ffffff;
    --yellow-sunshine: #ffee00;
    --font-size-ll: 30px;
    --font-size-l: 25px;
    --font-size-m: 20px;
    --font-size-s: 12px;
    --font-size-xl: 38px;
    --font-size-xs: 10px;
    --font-size-xxs: 8px;
    --font-size-xxxs: 6px;
    --font-family-arial: "Arial", Helvetica;
    --font-family-arial-bold: "Arial-Bold", Helvetica;
    --font-family-arial-regular: "Arial-Regular", Helvetica;
    --font-family-montserrat: "Montserrat", Helvetica;
    --font-family-roboto: "Roboto", Helvetica;
}


/* changes: denim from - #2c7abf, replaced tried-blue to denim-1*/

.arial-regular-normal-ship-gray-20px {
    color: var(--ship-gray);
    font-family: var(--font-family-arial-regular);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
}

.arial-regular-normal-mist-gray-10px {
    color: var(--mist-gray);
    font-family: var(--font-family-arial-regular);
    font-size: var(--font-size-xs);
    font-style: normal;
    font-weight: 400;
}

.arial-bold-white-6px {
    color: var(--white);
    font-family: var(--font-family-arial-bold);
    font-size: var(--font-size-xxxs);
    font-style: normal;
    font-weight: 700;
}

.arial-regular-normal-ship-gray-8px {
    color: var(--ship-gray);
    font-family: var(--font-family-arial-regular);
    font-size: var(--font-size-xxs);
    font-style: normal;
    font-weight: 400;
}

.arial-bold-white-20px {
    color: var(--white);
    font-family: var(--font-family-arial-bold);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 700;
}

.arial-normal-red-12px {
    color: var(--red);
    font-family: var(--font-family-arial);
    font-size: var(--font-size-s);
}

.arial-regular-normal-red-12px {
    color: var(--red);
    font-family: var(--font-family-arial-regular);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 400;
}

.arial-regular-normal-ship-gray-12px {
    color: var(--ship-gray);
    font-family: var(--font-family-arial-regular);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 400;
}

.arial-regular-normal-white-12px {
    color: var(--white);
    font-family: var(--font-family-arial-regular);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 400;
}

.arial-normal-red-25px {
    color: var(--red);
    font-family: var(--font-family-arial);
    font-size: var(--font-size-l);
}

.arial-regular-normal-red-25px {
    color: var(--red);
    font-family: var(--font-family-arial-regular);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 400;
}

.arial-regular-normal-mist-gray-20px {
    color: var(--mist-gray);
    font-family: var(--font-family-arial-regular);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
}

.arial-bold-congress-blue-10px {
    color: var(--congress-blue);
    font-family: var(--font-family-arial-bold);
    font-size: var(--font-size-xs);
    font-style: normal;
    font-weight: 700;
}

.arial-regular-normal-congress-blue-6px {
    color: var(--congress-blue);
    font-family: var(--font-family-arial-regular);
    font-size: var(--font-size-xxxs);
    font-style: normal;
    font-weight: 400;
}

.arial-regular-normal-white-25px {
    color: var(--white);
    font-family: var(--font-family-arial-regular);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 400;
}

.arial-bold-white-12px {
    color: var(--white);
    font-family: var(--font-family-arial-bold);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 700;
}

.arial-regular-normal-congress-blue-20px {
    color: var(--congress-blue);
    font-family: var(--font-family-arial-regular);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
}

.arial-bold-congress-blue-30px {
    color: var(--congress-blue);
    font-family: var(--font-family-arial-bold);
    font-size: var(--font-size-ll);
    font-style: normal;
    font-weight: 700;
}

.arial-bold-congress-blue-25px {
    color: var(--congress-blue);
    font-family: var(--font-family-arial-bold);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 700;
}

.arial-bold-congress-blue-38px {
    color: var(--congress-blue);
    font-family: var(--font-family-arial-bold);
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 700;
}

.arial-bold-white-25px {
    color: var(--white);
    font-family: var(--font-family-arial-bold);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 700;
}

.arial-regular-normal-white-10px {
    color: var(--white);
    font-family: var(--font-family-arial-regular);
    font-size: var(--font-size-xs);
    font-style: normal;
    font-weight: 400;
}

.arial-bold-white-35px {
    color: var(--white);
    font-family: var(--font-family-arial-bold);
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
}

.arial-regular-normal-ship-gray-25px {
    color: var(--ship-gray);
    font-family: var(--font-family-arial-regular);
    font-size: var(--font-size-l);
    font-style: normal;
    /* font-weight: 400; */
}

.arial-regular-normal-white-20px {
    color: var(--white);
    font-family: var(--font-family-arial-regular);
    font-size: var(--font-size-m);
    font-style: normal;
    /* font-weight: 400; */
}

.montserrat-normal-white-12px {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-s);
}

.montserrat-normal-white-12px-2 {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 400;
}

.roboto-normal-mist-gray-20px {
    color: var(--mist-gray);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
}

.border-2px-mist-gray {
    border: 2px solid var(--mist-gray);
}

.border-1px-mist-gray {
    border: 1px solid var(--mist-gray);
}

.good-hover {
    transition: .5s;
}

.text-denim {
    color: var(--denim);
}

.bg-yellow-sunshine {
    background-color: var(--yellow-sunshine);
}

.bd-none {
    border: none !important;
}

.bd-denim {
    border-color: var(--denim);
}

.bd-yellow-sunshine {
    border-color: var(--yellow-sunshine);
}