@import url("https://fonts.googleapis.com/css?family=Montserrat:400|Roboto:400,500");
@font-face {
    font-family: "Arial-Bold";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/FontsFree-Net-arial-bold.ttf") format("truetype");
}

@font-face {
    font-family: "Arial-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/arial.otf") format("opentype");
}
@keyframes pulse-border {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
html,
body,
.content-section,
footer {
    margin: 0;
    padding: 0;
}

.page {
    min-height: 100vh;
    width: 100%;
    background-attachment: fixed !important;
    background-size: auto 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    /* transition: .5s; */
    isolation: isolate;
}

.page header,
.page-dashboard {
    min-height: 15vh;
    background: var(--white);
}

.page header {
    background-color: var(--white);
    /* background: linear-gradient(to bottom, rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)); */
}

header .header-center {
    flex-grow: 1;
}

header .left-logo-sec-left img {
    height: 12vh !important;
    width: auto !important;
}

header .left-logo-sec-right img {
    height: 12vh !important;
    width: auto !important;
}

.reflector {
    transform: rotateY(-180deg);
}

.navbar-header {
    display: none;
}

.btn,
.btn:focus,
.btn:active,
.btn:visited,
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
}

.page footer,
.page-dashboard footer {
    text-align: center;
    background-color: var(--denim-1);
    padding: .3rem;
    color: var(--white);
}

.cursor-pointer {
    cursor: pointer;
}

.footer .container {
    letter-spacing: 0;
    line-height: 10px;
    white-space: nowrap;
}

footer ul {
    padding: 0;
}

footer dt {
    font-size: 20px;
    margin-bottom: 1rem;
}

.footer-social-icons {
    max-width: 80%;
    display: flex;
    justify-content: space-between;
}

.footer-icon {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: var(--yellow-sunshine);
    cursor: pointer;
}

.footer-icon span {
    color: var(--denim);
}

#ura-nav>.navbar-nav>.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: auto;
}


/* --- Edit Navbar --- */

#navbar-section {
    background-color: var(--denim);
    padding: 0;
    color: var(--white);
    border: 0;
    border-radius: 0;
    box-shadow: 0 .15rem 0 var(--yellow-sunshine), 0 -.15rem 0 var(--yellow-sunshine);
    overflow-y: hidden;
    overflow-x: auto;
}

#navbar-section::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
}

#navbar-section ul.navbar-nav li a {
    columns: var(--white);
    position: relative;
    padding-left: .8rem;
    padding-right: .8rem;
    min-width: 5vw;
}

#navbar-section .navbar-nav>li>a {
    margin: .2rem;
}

#navbar-section .navbar-nav>li:hover,
#navbar-section .navbar-nav>li>a:hover {
    background: var(--yellow-sunshine);
}

#navbar-section .navbar-nav>li>a:focus,
#navbar-section .navbar-nav>li>a:hover {
    color: var(--denim);
}

.active-menu-item a {
    color: var(--denim) !important;
}


/* ** more custom ** */

.dropdown-menu li {
    position: relative;
}

.dropdown-menu .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
}

.dropdown-menu .submenu-left {
    right: 100%;
    left: auto;
}

.dropdown-menu>li:hover {
    background-color: #f1f1f1
}

.dropdown-menu>li:hover>.submenu {
    display: block;
}


/* ---- / edit navbar ---- */

.overlap-chat {
    position: fixed;
    z-index: 5;
}

.overlap-chat .welcome-sec {
    background-color: var(--yellow-sunshine);
    border-radius: 15px;
    padding: .1rem 1rem .2rem 1rem;
    margin-bottom: 5px;
}

.chat-bot-image {
    width: 5.5rem;
}

img.double-logo {
    display: initial;
}

img.single-logo {
    display: none;
}

#ura-nav {
    border: none;
}

#content-section-1 {
    z-index: -1;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, .7), rgba(255, 255, 255, .7));
}

.border-denim {
    border: thin solid var(--denim);
}

.color-denim {
    color: var(--denim);
}


/* --- Carousel --- */

#page-slider {
    height: 100%;
}

#page-slider .caro-item {
    height: 80vh;
    display: flex;
    align-items: flex-end;
    background-size: auto 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}

.owl-dots {
    position: absolute;
    align-self: center;
    bottom: 1rem;
}

.owl-carousel button.owl-dot {
    border: 3px solid #fff;
    padding: .4em !important;
    border-radius: 50%;
    margin: auto;
    margin-left: .5em;
    margin-right: .5em;
    background-color: var(--yellow-sunshine);
}

.owl-carousel button.owl-dot.active {
    border: 2px solid #fff;
    background-color: var(--denim);
}

.owl-nav {
    align-self: center;
    position: absolute;
    bottom: 50%;
    display: flex;
    justify-content: space-between;
}

.owl-nav>button {
    background: linear-gradient(to bottom, rgba(255, 255, 255, .7), rgba(255, 255, 255, .7));
    border: thin solid var(--yellow-sunshine) !important;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.owl-nav>button svg {
    font-size: 1.5rem;
    color: var(--denim);
}

.owl-nav>button:hover {
    background-color: var(--denim) !important;
    border: thin solid var(--denim) !important;
}

.owl-nav>button svg:hover {
    color: #c7c9cb;
}



/* --- / End carousel --- */
#content-section-2 {
    margin-top: 100vh;
}

.dropdown-menu.show {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.p-fixed {
    position: fixed !important;
}

.home-bottoms {
    border: thin solid red;
    min-height: 10vh;
}


/* -- Sitemap section -- */
#sitemap-section {
    z-index: -1;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, .7), rgba(255, 255, 255, .7));
    overflow-x: hidden;
    
}
#sitemap-section  .sitemap-content{
    height: 100%;
}
#sitemap-section  .sitemap-content .sidebar{
    background-color: var(--light-gray);
    /* justify-content: center; */
    align-items: center;
    position: relative;
}
#sitemap-section  .sitemap-content .sidebar .sidebar-title{
    margin-top: 3rem;
}

#sitemap-section  .sitemap-content .sidebar .sidebar-items{
    margin-top: 0.2rem;
    position: inherit;
    
}
#sitemap-section  .sitemap-content .sidebar .sidebar-items ul{
    list-style-type: none;
    
}

#sitemap-section  .sitemap-content .sidebar .sidebar-items ul li{
    padding: 1rem 0 0;  
}
#sitemap-section  .sitemap-content .sidebar .sidebar-items ul li a{
    text-decoration: none;
}
#sitemap-section  .sitemap-content .sidebar .sidebar-items ul li a i{
    padding-right: 1rem;
    
}
#sitemap-section  .sitemap-content .rightbar{
    background-color: var(--white);
   
}

#sitemap-section  .sitemap-content .rightbar-title{
    margin-top: 1rem;
   
}
#sitemap-section  .sitemap-content .rightbar .rightbar-content{
   margin-top: 0.5rem;
   align-items: flex-start;
}

#sitemap-section  .sitemap-content .rightbar .rightbar-content a{
    text-decoration: none;
 }

 .left-sidebar-title{
    margin-top: 1rem;
 }
/* --- Media queries --- */
#min-section{
    z-index: -1;
    width: 100%;
    overflow-x: hidden; 
}
.rightbar-title{
    margin-top: 1rem;
}
.rightbar-content{
    margin-top: 1.5rem;
    align-items: flex-start;
 }
.content-side-two{
    background: url(../images/group-1526@1x.png);
    background-repeat:no-repeat;
    background-position: center;
    background-size: 100% auto; 
}


.sec-3-card-body {
    min-height: max-content;
}

/* -- Sitemap section -- */
#videos-section {
    z-index: -1;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, .7), rgba(255, 255, 255, .7));
    overflow-x: hidden; 
}

.videos-menu{
    background-color: var(--light-gray);
    
}

.video-item{
    border: 1px solid var(--light-gray)
}

.video-card {
    padding: 0;
    --bs-card-spacer-x: 0;
    --bs-card-spacer-y: 0;
    width: 100%;
    position: relative;
    /* height: 100%; */
}



/* Nathan Styles */
.intros .video-box {
    position: relative;
    
}

.intros .video-box  img{
    height: 150px;
    object-fit: cover;
}
.intros .video-box a span i {
    font-size: 3rem;
    color: var(--yellow-sunshine);
    background-color:var(--congress-blue);
    border-radius: 50%;
}
.border-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 3rem;
    height: 3rem;
    border: 0.55rem solid  var(--yellow-sunshine);
    border-radius: 50%;
    animation: pulse-border 1.5s linear infinite;
}
.border-animation--border-1 {
    animation-delay: 1s;
}
.border-animation--border-2 {
    animation-delay: 1.5s;
}
.border-animation--border-3 {
    animation-delay: 2s;
}
.card-img-top{
    object-fit: contain;
    height: 100%;
}
.video-player{
   position: absolute;
   padding: 0.5rem 1rem;
   background-color: var(--yellow-sunshine);
  
}

.video-player i{
    color: var(--congress-blue);
}
.video{
    border-left: none;
    border-right: none;
    border-top: none;
    
}
#buttons{
    display: none;
}
.form-control-focus {
    border-left: none;
    border-right: none;
    border-top: none;
    border: 0;
    
}

#comment-form input:focus{
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.nav-link{
    color: var(--ship-gray)
}

.nav-item-li{
    background-color: var(--white)
}
.side-menu-sec>li {
    min-width: 100%;
    border-radius: 15px;   
}

.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1.5rem 1.5rem;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
  }
  @media (prefers-reduced-motion: reduce) {
    .accordion-button {
      transition: none;
    }
  }
  .accordion-button:not(.collapsed) {
    color: var(--yellow-sunshine);
    background-color: var(--congress-blue);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
  }
  .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffee00'%3e%3cpath fill-rule='evenodd' d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/%3e  %3cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3e%3c/svg%3e");
    transform: rotate(-180deg);
    
    
  }
  .accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%231c56a3'%3e%3cpath fill-rule='evenodd' d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/%3e %3cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform 0.2s ease-in-out;
  }
  @media (prefers-reduced-motion: reduce) {
    .accordion-button::after {
      transition: none;
    }
  }
  .accordion-button:hover {
    z-index: 2;
  }
  .accordion-button:focus {
    z-index: 3;
    border-color: var(--yellow-sunshine);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(255, 238, 0.25);
  }
  
  .accordion-header {
    margin-bottom: 0;
  }
  
  .accordion-item {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
  }
  .accordion-item:first-of-type {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  .accordion-item:first-of-type .accordion-button {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
  }
  .accordion-item:not(:first-of-type) {
    border-top: 0;
  }
  .accordion-item:last-of-type {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
  .accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
  }
  .accordion-item:last-of-type .accordion-collapse {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
  
  .accordion-body {
    padding: 1.5rem 1.5rem;
  }
  
  .accordion-flush .accordion-collapse {
    border-width: 0;
  }
  .accordion-flush .accordion-item {
    border-right: 0;
    border-left: 0;
    border-radius: 0;
  }
  .accordion-flush .accordion-item:first-child {
    border-top: 0;
  }
  .accordion-flush .accordion-item:last-child {
    border-bottom: 0;
  }
  .accordion-flush .accordion-item .accordion-button {
    border-radius: 0;
  }
  
/* End Nathan Styles */


/* Google map */

#map {
	width: 100%;
	height: 320px;
}
.controls {
	margin-top: 10px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#searchInput {
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 50%;
}
#searchInput:focus {
 	border-color: #4d90fe;
}
.geo-data{
    border: 2px solid var(--congress-blue);
    padding: 1rem;
    font-size: 17px;
	list-style: none;
    text-align: left;
    margin-top: 1rem

}
.geo-data span{
	color: #ed691f;
}

@media screen and (max-width: 900px) {
    .page header {
        background-color: #fff;
    }
    header .header-center,
    .desktop-display {
        display: none !important;
    }
    .navbar-header {
        display: initial;
    }
    #header-navbar {
        display: none;
    }
    header .left-logo-sec-left,
    header .left-logo-sec-left {
        justify-content: flex-start !important;
    }
    /* --- navbar --- */
    /* ** more custom ** */
    .dropdown-menu .dropdown-menu {
        margin-left: 0.7rem;
        margin-right: 0.7rem;
        margin-bottom: .5rem;
    }
    /* --- / navbar --- */
    /* --- homepage carousel --- */
    #content-section-1 {
        position: initial;
        height: 50vh;
    }
    #page-slider .caro-item {
        height: 50vh;
    }
    .owl-nav {
        display: none;
    }
    .owl-carousel button.owl-dot {
        padding: .3em !important;
    }
    /* --- / homepage carousel --- */
    img.double-logo {
        display: none;
    }
    img.single-logo {
        display: initial;
    }
    .page footer {
        padding: .3rem;
    }

    .likes{
        display: none;
    }

    .dislikes{
        display: none;
    }

    .share{
        display: none;
    }

    .left-sidebar-title{
        display: none;
    }
 
    .intros .video-box  img{
        height: 100%;
       
    }
}


